/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: var(--textColor);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  /* primary design colors */
  --primaryColor: #05124b;
  --textColor: #020720;
  --titleColor: #020720;
  --footerText: #ffffff;
  --subtitleLight: #3972ac;
  --dividerBackground: #f8f9ff;

  --footerBackground: #1d2951;
  /* link colors */
  --linkColorHover: #3972ac;

  /* button hover */
  --buttonColorHover: #184068;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: var(--titleColor);
  color: white;
  text-shadow: none;
}

::selection {
  background: var(--titleColor);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh; /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
  background-size: cover;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 37%, rgba(0, 0, 0, 0.65) 100%), url(../img/optoppenBergen.jpg) no-repeat center center scroll;
}

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
  line-height: 48px;
  margin: 0 0 24px;
}

h2 {
  font-size: 1.5rem;
  line-height: 40px;
  margin: 0 0 8px;
}

h3 {
  font-size: 1.625rem;
  line-height: 32px;
  margin: 0 0 24px;
}

h4,
h5,
h6 {
  font-size: 1.25rem;
  line-height: 24px;
  margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 0px;
}

ul,
ol {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  color: RoyalBlue;
  transition: all 0.1s ease-in-out;
}

a:visited,
a:active {
  color: BlueViolet;
}

a:hover,
a:focus {
  color: Crimson;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  padding: 24px 24px 0;
  display: flex;
  flex-direction: column;
}

.o-row__intro {
  height: 100%;
  background-color: var(--dividerBackground);
}
.o-row__upcheck,
.o-row__optoppen,
.o-row__impact,
.o-row__nieuwbouw,
.o-row__renovatie,
.o-row__staalframebouw,
.o-row__contact,
.o-row__referenties {
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* Set a specific height */
  height: 50vh;
}

.o-row__upcheck {
  background-image: url('../img/upcheckHeader.jpg');
}

.o-row__referenties {
  background-image: url('../img/referenties.jpeg');
}

.o-row__contact {
  background-image: url('../img/contact.jpg');
}

.o-row__staalframebouw {
  background-image: url('../img/staalframebouw.jpg');
}

.o-row__optoppen {
  background-image: url('../img/optoppenHeader.jpg');
}

.o-row__nieuwbouw {
  background-image: url('../img/Nieuwbouw.jpg');
}

.o-row__impact {
  background-image: url('../img/header1_img.jpeg');
}
.o-row__vastgoed {
  background-image: url('../img/header1_img.jpeg');
}

.o-row__renovatie {
  background-image: url('../img/header1_img.jpeg');
}

.o-row__footer {
  background-color: var(--titleColor);
}

/* size modifiers */

.o-row--lg {
  padding-top: 48px;
  padding-bottom: 24px;
}

.o-row--xl {
  padding-top: 72px;
  padding-bottom: 48px;
}

.o-row--md {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .o-row {
    padding-left: 48px;
    padding-right: 48px;
  }

  .o-row--md {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .o-row--lg {
    padding-top: 72px;
    padding-bottom: 48px;
  }
}

@media (min-width: 992px) {
  .o-row--xl {
    padding-top: 96px;
    padding-bottom: 72px;
  }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 90em; /* 90 * 16px = 1440px */
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
  display: flex;
  flex-direction: column;
}

.o-section + .o-section {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .o-section--lg + .o-section--lg,
  .o-section--xl + .o-section--xl {
    margin-top: 48px;
  }
}

@media (min-width: 1200px) {
  .o-section--xl + .o-section--xl {
    margin-top: 72px;
  }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.o-layout__item {
  width: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
  margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
  padding: 0 12px;
}

.o-layout--gutter-sm {
  margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
  padding: 0 6px;
}

.o-layout--gutter-lg {
  margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
  padding: 0 24px;
}

.o-layout--gutter-xl {
  margin: 0 -48px;
}

.o-layout--gutter-xl > .o-layout__item {
  padding: 0 48px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is more than one flex item */

.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
  list-style: none;
  padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: errormessages
    ---
    styling for errormessages
*/
.c-em__confirmation,
.c-em__warning,
.c-em__failed {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  display: none;
  border: 2px solid;
}

.c-em__confirmation {
  background-color: #98fb98;
  color: #32bf84;
  border-color: #32bf84;
}

.c-em__warning {
  background-color: #f7f3d6;
  color: #927131;
}

.c-em__failed {
  background-color: #f9cfd1;
  color: #ff502d;
  border-color: red;
}

/*
    Component: links
    ---
    styling for links
*/

.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
  color: var(--titleColor);
}

.is-selected .c-nav__link,
.c-nav__link:hover,
.c-nav__link:focus {
  color: var(--linkColorHover);
}

/*
    Component: form
    ---
    styling for form
*/
form {
  width: 100%;
}
.c-form {
  display: flex;
  flex-direction: column;
}

input.textbox-300 {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border: 1px solid #cccccc;
  line-height: 30px;
  padding-left: 8px;
}

input.textbox-300.fileInput {
  padding-left: 0;
  min-width: 25%;
}

input,
textarea {
  color: #555 !important;
  background-color: #fff !important;
}
::-moz-placeholder {
  opacity: 1;
}

/* label {
  visibility: hidden;
} */

textarea {
  resize: none;
  width: 100%;
  padding-left: 8px;
  padding-top: 8px;
  border: 1px solid #cccccc;
}

label {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/*
    Component: stadsbouwer
    ---
    styling for stadsbouwer
*/

.c-stadsbouwer {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.c-image-stadsbouwers {
  width: 100%;
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .c-image-stadsbouwers {
    -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    margin-bottom: 0;
  }
}

/*
    Component: textblock
    ---
    styling for textblocks
*/

.c-text {
  width: 100%;
}

.c-textblock {
  max-width: 280px;
  padding-left: 16px;
  padding-right: 16px;
}

.c-textblock__header {
  font-size: 1.2rem;
  margin: 0;
}

.c-cta {
  max-width: 300px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.c-lead-cta {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: -8px;
}

/* slick */
.c-arrow-next,
.c-arrow-prev {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.arrow_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.o-row__carousel {
  position: relative;
}

@media (min-width: 768px) {
  .c-arrow-next {
    display: block;
    position: absolute;
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .c-arrow-prev {
    display: block;
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
  }
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:before {
  content: '•';
  font-size: 22px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 0.25;
  color: black;
}
.slick-dots li.slick-active button:before {
  color: var(--primaryColor);
  opacity: 1;
}
.slick-dots {
  text-align: center;
}

/*
    Component: post
    ---
    styling for post
*/

.c-post {
  padding: 1rem 0rem 1rem;
}

.c-description {
  text-align: center;
  margin-left: 1rem;
}

.c-post__title {
  text-overflow: '';
  white-space: initial;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.c-post__subtitle {
  /* font-family: 'Open Sans'; */
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--subtitleLight);
  font-weight: 400;
}

.c-post__paragraph {
  margin-bottom: 1.5rem;
}

.c-post__header {
  width: 100%;
}

.c-post__image-container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
}

@media (min-width: 768px) {
  .content {
    position: absolute;
  }
  .head {
    margin-bottom: 80px;
  }
}

.c-post__image {
  margin: 1rem 0 1rem;
  padding: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 37%, rgba(0, 0, 0, 0.65) 100%);
}

/*
    Component: Carrousel
    ---
    styling for carousel
*/

/* .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */
/* .arrow-container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}

.inactive {
  display: none;
} */

/*
    Component: testimonial
    ---
    styling for testimonials
*/

.c-testimonial {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.c-testimonial__header {
  margin-bottom: 8px;
}

.c-testimonial__body {
  font-size: 24px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}
/*
    Component: card
    ---
    styling for cards
*/

.c-optoppen {
  display: flex;
  flex-direction: column;
}

.c-diensten-header {
  /* text-decoration: underline; */
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-right: 8px;
  margin-left: 8px;
  justify-content: center;
}

.c-card {
  background-color: white;
  max-width: 400px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 0 0 32px;
  margin-bottom: 32px;
  margin-left: 8px;
  margin-right: 8px;
}

.c-card:first-child {
  margin-left: 0;
}

.c-card:last-child {
  margin-right: 0;
}

.c-card__title {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.c-card__text {
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

.c-card__content {
  margin-top: 16px;
}

.c-card__text,
.c-card__title {
  padding-left: 16px;
  padding-right: 16px;
}

/*
    Component: intro
    ---
    styling for intro
*/

.c-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-intro__header1 {
  text-align: center;
  font-size: 2rem;
  color: var(--textColor);
  font-weight: 700;
  line-height: 39px;
}

.c-intro__header-contact {
  margin-top: 8px;
  margin-bottom: 0.67em;
}

.c-intro__text {
  max-width: 500px;
  size: 24px;
  line-height: 29px;
}

/*
    Component: info
    ---
    styling for info
*/
.c-footer-container {
  color: white;
}
.c-info {
  margin: 8px;
  max-width: 450px;
}

/*
    Component: nieuwsbrief
    ---
    styling for nieuwsbrief
*/
.c-nieuwsbrief {
  max-width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.c-nieuwsbrief__container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.c-nieuwsbrief__content {
  text-align: center;
}
.c-input {
  margin-top: 16px;
}
.c-nieuwsbrief__header {
  text-align: center;
}

.c-input-fields {
  display: flex;
  flex-direction: column;
}
/*
    Component: button
    ---
    styling for buttons
*/
.c-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  background-color: var(--primaryColor);
  color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px 20px;
  margin-top: 1rem;
}

.c-button.c-link-button {
  text-decoration: none;
  color: white;
}

.c-button-container {
  display: flex;
  justify-content: center;
}

.c-button:hover {
  cursor: pointer;
  background-color: var(--buttonColorHover);
  transition: all 0.25s ease-in-out;
}

/*
    Component: header
    ---
    Main header of the website
*/

.c-header {
  display: flex;
  align-items: center;
}

.c-header__nav {
  display: none;
}

.c-header__mobile-nav-trigger {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;
}

.c-logo {
  height: 24px;
  margin-top: 24px;
  margin-bottom: 48px;
  margin-left: 24px;
  padding-right: 64px;
}

.c-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  /* filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5)); */
  transition: opacity 0.25s;
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .c-intro__image {
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  }
  .c-logo {
    height: 40px;
    margin-top: 48px;
    margin-right: 64px;
    margin-left: 48px;
  }
}

.c-intro__image {
  width: 100%;
}

/*
    Component: Nav
    ---
    Main navigation of the site
*/

.c-nav {
  font-size: 1.5rem;
  /* line-height: 29px; */
  /* text-transform: uppercase; */
  font-weight: 300;

  /* shadow */
  /* -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc; */
}

.c-nav-trigger {
  width: 24px;
  height: 24px;
}

.c-mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

.has-mobile-nav .c-mobile-nav {
  opacity: 1;
  pointer-events: auto;
}

.c-mobile-nav__body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.c-mobile-nav__header {
  padding: 24px;
  text-align: right;
}

.c-nav__list {
  display: block;
  text-align: center;
}

.c-nav__link {
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 8px 0;
  font-size: 1.2rem;
}

@media (min-width: 1300px) {
  .c-nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .c-nav__link {
    padding: 20px 16px;
  }

  .c-mobile-nav,
  .c-header__mobile-nav-trigger {
    display: none;
  }
  .c-header__logo {
    display: block;
  }
  .c-logo {
    position: relative;
  }

  .c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-header__nav {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
  }
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
  padding-top: 0 !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: 4px !important;
}

.u-mb-sm {
  margin-bottom: 8px !important;
}

.u-mb-md {
  margin-bottom: 16px !important;
}

.u-mb-lg {
  margin-bottom: 32px !important;
}

.u-mb-xl {
  margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
  max-width: 18em !important;
}

.u-max-width-sm {
  max-width: 39em !important;
}

.u-max-width-md {
  max-width: 50em !important;
}

.u-max-width-lg {
  max-width: 63.5em !important;
}

.u-max-width-none {
  max-width: none !important;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
  width: auto !important;
}

.u-1-of-2 {
  width: 50% !important;
}

.u-1-of-3 {
  width: 33.3333333333% !important;
}

.u-2-of-3 {
  width: 66.6666666667% !important;
}

.u-1-of-4 {
  width: 25% !important;
}

.u-3-of-4 {
  width: 75% !important;
}

.u-1-of-5 {
  width: 20% !important;
}

.u-2-of-5 {
  width: 40% !important;
}

.u-3-of-5 {
  width: 60% !important;
}

.u-4-of-5 {
  width: 80% !important;
}

.u-1-of-6 {
  width: 16.6666666667% !important;
}

.u-5-of-6 {
  width: 83.3333333333% !important;
}

@media (min-width: 576px) {
  .u-1-of-2-bp1 {
    width: 50% !important;
  }
  .u-1-of-3-bp1 {
    width: 33.3333333333% !important;
  }
  .u-2-of-3-bp1 {
    width: 66.6666666667% !important;
  }
  .u-1-of-4-bp1 {
    width: 25% !important;
  }
  .u-3-of-4-bp1 {
    width: 75% !important;
  }
  .u-1-of-5-bp1 {
    width: 20% !important;
  }
  .u-2-of-5-bp1 {
    width: 40% !important;
  }
  .u-3-of-5-bp1 {
    width: 60% !important;
  }
  .u-4-of-5-bp1 {
    width: 80% !important;
  }
  .u-1-of-6-bp1 {
    width: 16.6666666667% !important;
  }
  .u-5-of-6-bp1 {
    width: 83.3333333333% !important;
  }
}

@media (min-width: 768px) {
  .u-1-of-2-bp2 {
    width: 50% !important;
  }
  .u-1-of-3-bp2 {
    width: 33.3333333333% !important;
  }
  .u-2-of-3-bp2 {
    width: 66.6666666667% !important;
  }
  .u-1-of-4-bp2 {
    width: 25% !important;
  }
  .u-3-of-4-bp2 {
    width: 75% !important;
  }
  .u-1-of-5-bp2 {
    width: 20% !important;
  }
  .u-2-of-5-bp2 {
    width: 40% !important;
  }
  .u-3-of-5-bp2 {
    width: 60% !important;
  }
  .u-4-of-5-bp2 {
    width: 80% !important;
  }
  .u-1-of-6-bp2 {
    width: 16.6666666667% !important;
  }
  .u-5-of-6-bp2 {
    width: 83.3333333333% !important;
  }
}

@media (min-width: 992px) {
  .u-1-of-2-bp3 {
    width: 50% !important;
  }
  .u-1-of-3-bp3 {
    width: 33.3333333333% !important;
  }
  .u-2-of-3-bp3 {
    width: 66.6666666667% !important;
  }
  .u-1-of-4-bp3 {
    width: 25% !important;
  }
  .u-3-of-4-bp3 {
    width: 75% !important;
  }
  .u-1-of-5-bp3 {
    width: 20% !important;
  }
  .u-2-of-5-bp3 {
    width: 40% !important;
  }
  .u-3-of-5-bp3 {
    width: 60% !important;
  }
  .u-4-of-5-bp3 {
    width: 80% !important;
  }
  .u-1-of-6-bp3 {
    width: 16.6666666667% !important;
  }
  .u-5-of-6-bp3 {
    width: 83.3333333333% !important;
  }
}

@media (min-width: 1200px) {
  .u-1-of-2-bp4 {
    width: 50% !important;
  }
  .u-1-of-3-bp4 {
    width: 33.3333333333% !important;
  }
  .u-2-of-3-bp4 {
    width: 66.6666666667% !important;
  }
  .u-1-of-4-bp4 {
    width: 25% !important;
  }
  .u-3-of-4-bp4 {
    width: 75% !important;
  }
  .u-1-of-5-bp4 {
    width: 20% !important;
  }
  .u-2-of-5-bp4 {
    width: 40% !important;
  }
  .u-3-of-5-bp4 {
    width: 60% !important;
  }
  .u-4-of-5-bp4 {
    width: 80% !important;
  }
  .u-1-of-6-bp4 {
    width: 16.6666666667% !important;
  }
  .u-5-of-6-bp4 {
    width: 83.3333333333% !important;
  }
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
